/html2text/_version.py

# Python artifacts
*.py[co]
*.bak
build
dist
*.egg-info

# IDEs
.idea
.c9/
.vscode

# Testing & Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/

# Virtual environments
env/
venv/
.venv/

# uv
.python-version
